body{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

/* title */
#title{
    background-color: #2940d3;
    color: #fff;
}
.heading{
    padding: 9%;
}
.main{
    font-weight: 900;
}
/* containers */
.container-fluid{
    padding: 7% 15%;
}
/* navbar */
.nav-link:hover{
    border-bottom: #fff 2px solid;
}
.navbar{
    background-color: #232323;
    padding: 1.5%;
}

/* form */
.title-form{
    background-color: #39a9cb;
    padding: 7%;
    text-align: center;
}
/* services */
#services{
    text-align: center;
}
.service-icon{
  color: #39a9cb;
}
.service-icon:hover{
    color: #2940d3;
}

/* footer */
#footer{
    text-align: center;
    background-color: #2940d3;
    color: #fff;
}

.footer-icon{
    padding: 3%;
    color:#fff;
}